Q1. Create one variable containing following type of data:

Ans: (1) var_str="PwSkill"
     (2) var_Lst=[1,2,"abc","ShubhamKushwaha"]
     (3) var_float=3.16
     (4) var_tuple={1,4,5,7,"abc"}

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

Ans: (1) String Data type
     (2) String Data type
     (3) List Data type
     (4) Float data type

Q3. Explain the use of the following operators using an example:

(i) /

(ii) % 

(iii) //

(iv) **

Ans: (1) Division Operator(/):- This is used to perform arithmatic Division operation.
                                Example 10/2=5                                                
     (2) Modulus Operator(%):- This operator returns the remainder of an Arithmatic Division.                                Example 10%3=1                                               
     
     (3) Floor Division Operator(//):- This operator returns the  Integer value in an                                                Arithmatic Division and remove portion of result after                                        decimal.
                                       Example 5//2=2
     (4) Exponent Operator(**):- This is used to find power or exponent of any number.
                                 Example 2**3=8
                                         5**4=625

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for       loop print the element and its data type.

In [1]:
Lst=[1,4,8,"abc",3.16,"PwSkill",[1,2,3],"5.10",(2,4,5),{2,4,6}]
for i in Lst:
    print(i,type(i))

1 <class 'int'>
4 <class 'int'>
8 <class 'int'>
abc <class 'str'>
3.16 <class 'float'>
PwSkill <class 'str'>
[1, 2, 3] <class 'list'>
5.10 <class 'str'>
(2, 4, 5) <class 'tuple'>
{2, 4, 6} <class 'set'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [2]:
A=int(input())
B=int(input())
count=0
while(A%B==0):
    count=count+1
    A=A/B
if(count!=0):
    print("Number of times A is purely Divisible by B=",count)

 125
 5

Number of times A is purely Divisible by B= 3

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [3]:
Lst=list(range(25))
for i in Lst:
    if i%3==0:
        print("The element is divisible by 3")
    else:
        print("The element is not divisible by 3")

The element is divisible by 3
The element is not divisible by 3
The element is not divisible by 3
The element is divisible by 3
The element is not divisible by 3
The element is not divisible by 3
The element is divisible by 3
The element is not divisible by 3
The element is not divisible by 3
The element is divisible by 3
The element is not divisible by 3
The element is not divisible by 3
The element is divisible by 3
The element is not divisible by 3
The element is not divisible by 3
The element is divisible by 3
The element is not divisible by 3
The element is not divisible by 3
The element is divisible by 3
The element is not divisible by 3
The element is not divisible by 3
The element is divisible by 3
The element is not divisible by 3
The element is not divisible by 3
The element is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Ans: Mutable Data type:-Those data type which allow modification in its element after                                 creation called mutable data type.
                        Example- list and dictionary
     
     Immutable Data type:-Those data type which do not allow any modification in its element                           after creation called immutable data type.If modification is done                             then a new object is created instead of modifying original one.
                          Example- String and Tuple

In [4]:
Var_str="abcd"
Var_str[2]='f'
print(Var_str)

TypeError: 'str' object does not support item assignment

In [5]:
Var_lst=[1,4,2,6,9]
Var_lst[2]=5
print(Var_lst)

[1, 4, 5, 6, 9]